@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable] {
  outline: none;
  flex: 1;
  position: relative;
}

[contenteditable].is-untitled:before {
  position: absolute;
  pointer-events: none;
  content: "Untitled";
}